@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&family=Roboto:wght@300;400;500;700&family=Geologica:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Outfit", sans-serif;
  --font-sans: "Roboto", sans-serif;
  --font-geologica: "Geologica", sans-serif;
}
